/* General styles */
.user-page {
    max-height: 100vh;
    overflow-y: scroll;
    position: relative;

    .mat-stepper-horizontal {
        min-width: 100%;

        .mat-horizontal-stepper-wrapper {}
    }

    .head {
        // position: sticky;
        // top: 0;
        // z-index: 2;
        // background: #ffffff;
        text-align: left;
        // height: 2rem;
    }

}

.details-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    .details {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        padding: 1rem;
    }
    
    .language-form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .overflowing-section {
        max-height: 58vh;
        overflow-y: auto;
        min-height: 58vh;

        .empty-state {
            min-height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;

            .add {
                display: flex;
                justify-content: center;
            }
        }
    }

    .step {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        position: relative;
        background: rgb(235, 232, 232);
        background: #f0f0f5;
        padding: .5rem;

        .details {
            padding: 0 !important;
            gap: .5rem !important;
        }

        .mat--mdc-card {

            .mat-mdc-card-content {
                min-width: 100% !important;

                .media-container {
                    border: 2px solid;

                    .selected-media {}
                }
            }
        }

        .add-control {
            display: flex;
            justify-content: end;
            padding: 1rem;
            position: sticky;
            top: 0;
            background: #ffffff;
            // background: green;
            background: transparent;
            z-index: 2;
            height: 1rem;
        }

        .title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row-reverse;
            padding: 0 1rem;

            .mat-mdc-card-content {
                min-width: 100% !important;
            }
        }

        
    }

    .footer {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        justify-content: end;
        padding-top: 0rem;
        
    }
}

mat-form-field {
    width: 100%;
}

/* Desktop view */
@media (min-width: 1024px) {
    .details-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .basic-details {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    
    .basic-details mat-form-field {
        width: calc(50% - 10px);
        /* Two columns */
    }
}

/* Tablet view */
@media (min-width: 768px) and (max-width: 1023px) {
    .basic-details {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .basic-details mat-form-field {
        width: calc(50% - 10px);
        /* Two columns */
    }
}

/* Mobile view */
@media (max-width: 767px) {
    .user-page {
        padding: 10px;
    }

    .basic-details {
        display: flex;
        flex-direction: column;
    }

    mat-form-field {
        width: 100%;
    }
}

.mat-horizontal-content-container {
    padding-top: 24px !important;
}

.media-container {
    display: grid;
    grid-template-rows: 1fr 2.5fr;
    grid-template-columns: 1fr;

        button {
            grid-area: "item1";
        }

    .selected-media {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        flex-direction: column-reverse;
        align-items: center;
        grid-area: "item2";

        mat-chip {
            .chip-content {
                display: flex;
                align-items: center;
                gap: .5rem;
            }

            mat-icon {
                cursor: pointer;
                color: #f44336;
            }
        }

        h4 {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 0.9rem;
            background-color: #f1f1f1;
            padding: 5px 10px;
            border-radius: 4px;

            
            // @include mobile {
            //   font-size: 0.8rem;
            //   padding: 3px 8px;
            // }
        }
        
        img {
            width: 100px;
            height: 100px;
            object-fit: contain;
        }
    }
}
mat-horizontal-stepper {

    .mat-horizontal-stepper-wrapper  {
        border: 2px solid red;

        .mat-horizontal-content-container {
            padding: 0 !important;
        }
    }
}