@import "./../../../../theme/variables.scss";
@import "./../../../../theme/animations.scss";
@import "./../../../../theme/mixins.scss";

.login-form {
    width: 100%; /* Full width to prevent overflow */
    max-width: 400px; /* Maximum width for larger screens */
    background-color: $card-background;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box; /* Include padding in width calculation */

    @include mobile {
        max-width: 100%; /* Full width on mobile */
        padding: 15px; /* Adjust padding for mobile */
        margin-top: 25px;
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: .5rem;

        @include mobile {
            gap: .3rem; /* Reduce gap on mobile */
        }
    }

    .loading-spinner {
        width: 32px !important;
        height: 32px !important;
        margin: 4px;
        display: inline-block;
    }

    .mat-mdc-form-field {
        width: 100% !important;
        min-width: 0; /* Prevents overflow */
    }

    .footer {
        display: flex;
        flex-direction: column;
        gap: 0;
        margin-top: 1rem;

        @include mobile {
            margin-top: 0.5rem; /* Adjust margin for mobile */
        }
    }
}

.form-title {
    font-size: 1.5rem;
    margin-bottom: 20px;

    @include mobile {
        font-size: 1.25rem; /* Adjust font size for mobile */
        margin-bottom: 15px; /* Adjust margin for mobile */
    }
}

.google-button {
    display: flex;
    align-items: center;
    background-color: $google-button-background;
    color: #ffffff;

    &:hover {
        background-color: $google-button-hover-background;
    }

    mat-icon {
        margin-right: 8px;
    }
}

button {
    margin-top: 10px;

    @include mobile {
        margin-top: 5px; /* Adjust button margin for mobile */
    }
}

.register-link {
    text-align: center;

    a {
        color: $primary-color;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
