@import "./../../../../theme/variables.scss";
@import "./../../../../theme/animations.scss";

.login-form {
    width: 100%;
    max-width: 400px;
    background-color: $card-background;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;

    .form {
      display: flex;
      flex-direction: column;
      gap: .5rem;
    }

    .loading-spinner {
        width: 32px !important; /* Adjust width to fit button */
        height: 32px !important; /* Adjust height to fit button */
        margin: 4px; /* Remove default margins */
        // padding: 4px;
        display: inline-block; /* Align with text */
      }

    .mat-mdc-form-field {
        width: 100% !important;
    }

    .footer {
        // background: green;
        display: flex;
        flex-direction: column;
        gap: 0;
        margin-top: 1rem;
    }
    // background: red;
  }
  
  .form-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .google-button {
    display: flex;
    align-items: center;
    background-color: $google-button-background;
    color: #ffffff;
    
    &:hover {
      background-color: $google-button-hover-background;
    }
    
    mat-icon {
      margin-right: 8px;
    }
  }
  
  button {
    margin-top: 10px;
  }
  
  .register-link {
    text-align: center;
    
    a {
      color: $primary-color;
      text-decoration: none;
    }
    
    a:hover {
      text-decoration: underline;
    }
  }
  
  @media (max-width: 768px) {
    .branding-title {
      font-size: 2rem;
    }
  
    .branding-description {
      font-size: 1rem;
    }
  }