@import "./../../../../theme/variables.scss";
@import "./../../../../theme/mixins.scss";

.layout-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    font-family: $font-family;

    @include mobile {
        flex-direction: column;
    }
}

.branding-section {
    flex: 1;
    background: linear-gradient(to right, $gradient-start, $gradient-end);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    @include mobile {
        flex: none;
        padding: 10px;
    }
}

.branding-content {
    text-align: center;
}

.branding-title {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;

    @include mobile {
        font-size: 2rem;
    }
}

.branding-description {
    font-size: 1.25rem;
    margin-top: 10px;

    @include mobile {
        font-size: 1rem;
    }
}

.auth-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  overflow-y: auto; /* Allow scrolling when content exceeds height */
  
  @include mobile {
      max-height: 80vh; /* Set a max height for mobile */
      padding: 10px; /* Adjust padding */
  }
}

.auth-content {
  width: 100%; /* Ensure it takes full width */
  max-width: 400px; /* Max width to match the form */
  margin: 0 auto; /* Center horizontally */
  background-color: $background-color; /* Ensure it matches the background */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box; /* Include padding in width calculations */

  @include mobile {
      padding: 15px; /* Adjust padding for mobile */
      max-width: 90%; /* Make it wider on small screens */
  }
}

.router-outlet {
  width: 100%; /* Full width for router outlet */
  overflow: hidden; /* Prevent overflow */
}


// .router-outlet {
//     max-width: 400px;
//     width: 100%;
//     background-color: $content-background;
//     border-radius: 8px;
//     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
//     padding: 20px;

//     @include mobile {
//         width: 90%;
//         margin: 0 auto;
//     }
// }
